.folder-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--md-sys-color-primary);
    }
  }

  > .folder {
    &.open {
      display: block;
    }

    &.close {
      display: none;
    }
  }

  > .info {
    display: flex;
    align-items: center;
    width: 100%;

    > .heading {
      width: 100%;
      margin-left: 4px;
      font-size: var(--font-size-middle);
      font-weight: var(--font-weight-bold);
    }
  }
}
