:root {
  /* color */
  --color-main: #01ff76;
  --color-main80: #01ff7699;
  --color-main50: #01ff7666;
  --color-main20: #01ff7633;
  --color-sub: #494949;
  --color-sub20: #49494933;
  --color-dark: #121212;
  --color-light: #fff;
  --color-red: #e92a2a;
  --color-ref80: #e92a2a99;
  --color-red50: #e92a2a66;
  --color-red20: #e92a2a33;
  --color-orange: #f3991c;
  --color-green: #03a738;
  --color-blue: #355cd9;
  --color-yellow: #f6c000;

  /* font-size */
  --font-size-base: 1rem;

  /* font-weight */
  --font-weight-normal: 300;
  --font-weight-bold: 700;

  /* z-index */

  /* box-shadow */
  --box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
