:root {
  /* color */
  --color-main: #01ff76;
  --color-main80: #00cc5b;
  --color-main50: #094;
  --color-sub: #494949;
  --color-sub20: #49494933;
  --color-dark: #121212;
  --color-light: #fff;
  --color-red: #e92a2a;
  --color-red80: #c61414;
  --color-red50: #980f0f;
  --color-orange: #f3991c;
  --color-green: #03a738;
  --color-blue: #355cd9;
  --color-yellow: #f6c000;
  --color-disabled: #a5a5a5;

  /* font-size */
  --font-size-base: 1rem;

  /* font-weight */
  --font-weight-normal: 300;
  --font-weight-bold: 700;

  /* z-index */

  /* box-shadow */
  --box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

  /* spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
}
