.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  font-size: var(--font-size-base);
  cursor: pointer;
  border-radius: var(--border-radius-m);
  transition: all 150ms ease-in-out;
  border: none;

  &:disabled {
    color: var(--md-sys-color-on-surface) !important;
    cursor: auto !important;
    background-color: var(--md-sys-color-surface) !important;
    box-shadow: none !important;
  }

  &.full-width {
    width: 100%;
  }

  &[data-theme='primary'] {
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);

    &:hover {
      box-shadow: var(--shadow);
    }

    &:focus,
    &:focus-visible {
    }

    &:active {
      box-shadow: unset;
    }
  }

  &[data-theme='error'] {
    color: var(--md-sys-color-on-error);
    background-color: var(--md-sys-color-error);
  }
}
