.file-item {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-main);
    }
  }

  > .heading {
    margin-left: 4px;
    font-size: var(--font-size-middle);
    font-weight: var(--font-weight-normal);
  }
}
