.svg-primary {
  color: var(--md-sys-color-primary);
}

.svg-on-primary {
  color: var(--md-sys-color-on-primary);
}

.svg-error {
  color: var(--md-sys-color-error);
}

.svg-on-error {
  color: var(--md-sys-color-on-error);
}

.svg-surface {
  color: var(--md-sys-color-surface);
}

.svg-on-surface {
  color: var(--md-sys-color-on-surface);
}
