@keyframes fade-in {
  from {
    right: -100%;
  }

  to {
    right: var(--spacing-2);
  }
}

@keyframes fade-out {
  0% {
    right: var(--spacing-2);
  }

  100% {
    right: -100%;
  }
}

@keyframes vanish {
  0% {
    height: 48px;
  }

  100% {
    height: 0;
  }
}

.toast {
  position: relative;
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  min-width: 240px;
  max-width: 50%;
  padding: var(--spacing-4) var(--spacing-6);
  margin-bottom: var(--spacing-4);
  overflow: hidden;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  transition: all 3000ms ease-out;
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &.hide {
    animation-name: fade-out;
  }

  &.vanish {
    right: -100%;
    padding: 0;
    margin: 0;
    transition: all 500ms ease-out;
    animation-name: vanish;
  }

  @media (481px <= width < 768px) {
    min-width: 400px;
  }

  @media (width <= 400px) {
    min-width: 90%;
    max-width: 90%;
  }
}
