@keyframes fade-in {
  from {
    bottom: -100%;
  }

  to {
    bottom: var(--spacing-2);
  }
}

@keyframes fade-out {
  from {
    bottom: var(--spacing-2);
  }

  to {
    bottom: -100%;
  }
}

.toast {
  position: fixed;
  left: 50%;
  z-index: var(--z-index-toast);
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  min-width: 480px;
  max-width: 80%;
  padding: var(--spacing-4) var(--spacing-6);
  overflow: hidden;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  transform: translateX(-50%);
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &.hide {
    animation-name: fade-out;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    content: '';
  }

  @media (481px <= width < 768px) {
    min-width: 400px;
  }

  @media (width <= 400px) {
    min-width: 90%;
    max-width: 90%;
  }
}
